.posts {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.blog__btn {
    border-radius: 15px;
    display: block;
    margin-left: 10px;
    left: 20px;
    background-color:black;
    color:white;
    padding: 5px 10px ;
    margin-top: 10px;
    display: block;
    left: 20px;
    font-size: 12px;
    cursor: pointer;
}

button.postedit__btn {
    font-size: 30px;
    border:none
}
